.catalog__title {
  margin: 28px 0 28px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: $base-black;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 23px;
}

@media (min-width: $width-tablet) {
  .catalog__item {
    margin-bottom: 140px;
  }

  .catalog__title {
    margin-bottom: 165px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $width-desktop) {
  .catalog__title {
    margin-top: 65px;
  }

  .catalog__item {
    margin-bottom: 143px;
  }
}
