.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
}

.form__fieldset--border {
  border-bottom: 1px solid #ededed;
}

.form__fieldset--border-green {
  margin-top: 42px;
  border-top: 3px solid #64a83b;
}

.form__fieldset--comments {
  margin-top: 19px;
}

.form__fieldset--extra {
  margin-top: 31px;
}

.form__title {
  margin: 16px 0 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
}

.form__instruction {
  margin: 24px 0 19px;
  padding-right: 40px;
  font-size: 14px;
}

.form__input {
  padding: 12px 15px 18px;
  max-width: 100%;
  border: 1px solid #ededed;
  flex-grow: 1;
}

.form__input::placeholder {
  font-family: $base-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__label {
  margin-right: 14px;
}

.form__label-contacts {
  margin-right: 11px;
}

.form__subtitle {
  margin: -22px 78px 33px -20px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;

  background-color: #ffffff;
}

.form__subtitle-comments {
  margin-right: 137px;
}

.form__subtitle-extra {
  margin-right: 117px;
  margin-bottom: 34px;
}

.form__list {
  padding-top: 15px;
  list-style: none;
}

.form__contacts-list,
.form__extras-list {
  @include list-reset;
}

.form__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.form__item--margin-reduced {
  margin-bottom: 10px;
}

.form__radio-indicator {
  margin-right: 17px;
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #ededed;
}

.form__checkbox-indicator {
  margin-right: 17px;
  display: block;
  width: 29px;
  height: 29px;
  border: 1px solid #ededed;
}

.form__item input[type="checkbox"],
.form__item input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.form__note {
  width: 320px;
  margin: 21px auto 32px;
  display: block;

  font-family: $arial-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
  text-align: center;
}

.form__comments-area {
  width: 100%;
  resize: none;
  padding: 13px 14px;
}

.form__button {
  padding: 10px 78px 10px;
  margin: 10px auto 0;

  font-family: $base-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;

  border: none;
}
