.product-description__title {
  margin: 0 0 28px 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.product-description__list {
  margin: 0;
  padding: 0;
}

.product-description__item {
  @include list-reset;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-description__logo {
  margin-right: 20px;
  min-width: 60px;
  min-height: 60px;
  background-color: $base-green;
  background-position: center;
  background-repeat: no-repeat;
}

.product-description__logo--use {
  background-image: url("../../img/advantage-leaf@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-leaf@2x.png");
    background-size: 50px auto;
  }
}

.product-description__logo--form {
  background-image: url("../../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-powder@2x.png");
    background-size: 50px auto;
  }
}

.product-description__logo--how {
  background-image: url("../../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-dining@2x.png");
    background-size: 50px auto;
  }
}

.product-description__logo--term {
  background-image: url("../../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/advantage-clock@2x.png");
    background-size: 50px auto;
  }
}

.product-description__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

@media (min-width: $width-tablet) {
  .product-description__title {
    margin-bottom: 72px;
    font-size: 60px;
  }

  .product-description__list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-description__item {
    margin-bottom: 88px;
    flex-basis: 324px;
    flex-direction: column;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: 125px center;
    background-size: contain;
  }

  .product-description__item:nth-of-type(odd) {
    margin-right: 60px;
  }

  .product-description__item--one {
    background-image: url("../../img/one.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/one@2x.png");
      background-size: 71px auto;
    }
  }

  .product-description__item--two {
    background-image: url("../../img/two.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/two@2x.png");
      background-size: 112px auto;
    }
  }

  .product-description__item--three {
    background-image: url("../../img/three.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/three@2x.png");
      background-size: 111px auto;
    }
  }

  .product-description__item--four {
    background-image: url("../../img/four.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/four@2x.png");
      background-size: 121px auto;
    }
  }

  .product-description__logo {
    margin: 0 0 33px 0;
    min-width: 80px;
    min-height: 80px;
  }

  .product-description__text {
    padding-right: 70px;
    padding-bottom: 43px;
    font-family: $arial-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $base-grey;
  }
}

@media (min-width: $width-desktop) {
  .product-description {
    // margin-bottom: 1058px;
  }

  .product-description__title {
    margin-bottom: 71px;
  }

  .product-description__list {
    justify-content: space-between;
  }

  .product-description__item {
    padding-bottom: 45px;
    flex-basis: 245px;
    box-sizing: border-box;
    background-position: 125px center;
  }

  .product-description__item:nth-of-type(odd) {
    margin-right: 0;
  }

  .product-description__logo {
    margin-bottom: 33px;
  }

  .product-description__text {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
