.product-card {
  padding: 0 20px;
  border-top: 1px solid #ededed;
}

.product-card__container {
  display: flex;
  flex-wrap: nowrap;
}

.product-card__title {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  padding-right: 45px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;
}

.product-card__table {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $base-grey;
  border-collapse: collapse;
}

.product-card__table-field {
  padding: 0;
  width: 50%;
}

.product-card__table-field--left {
  text-align: left;
}

.product-card__table-field--right {
  text-align: right;
}

.product-card__img-wrapper {
  width: 50%;
}

.product-card__image--tablet,
.product-card__image--desktop {
    display: none;
  }

.product-card__button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.product-card__title--all {
  position: relative;
  margin: 0;
  padding: 80px 0 7px 2px;
  text-align: center;

  &::before {
    margin-left: -15px;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: $light-grey;
    top: 41px;
    left: 50%;
  }

  &::after {
    margin-left: -15px;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: $light-grey;
    top: 41px;
    left: 50%;
    transform: rotate(90deg);
  }
}

.product-card__content {
  margin: 0;
  margin-bottom: 21px;
  font-family: $arial-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  text-align: center;
  color: $base-grey;
}

@media(min-width: $tablet-width) {
  .product-card {
    padding: 0 0 40px 0;
    flex-basis: 324px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
  .product-card__container {
    flex-direction: column;
  }

  .product-card__title {
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product-card__table-wrapper {
    padding: 0 37px 0 38px;
  }

  .product-card__table {
    margin-bottom: 33px;
    font-size: 16px;
    color: $base-grey;
  }

  .product-card__table-field {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__img-wrapper {
    width: 100%;
  }

  .product-card__image--tablet {
    position: relative;
    top: -40px;
  }

  .product-card__image--mobile,
  .product-card__image--desktop {
    display: none;
  }
}
