.program {
  margin-bottom: 18px;
}

.program__card {
  margin-top: 22px;
  padding: 20px;
  background-color: #f2f2f2;
}

.program__title {
  position: relative;
  margin: 0;
  padding: 11px 0 29px 72px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: $base-green;
    border-radius: 50%;
  }
}

.program__description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.program__link {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    background-color: transparent;
    background-image: url("../../img/icon-right-arrow-long.svg");
    top: 7px;
    right: -35px;
  }
}

.program__title--fit {
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    left: 10px;
    top: 3px;
    z-index: 10;
  }
}

.program__title--power {
  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    left: -7px;
    top: 15px;
    z-index: 10;
  }
}

@media (min-width: $width-tablet) {
  .program {
    margin-bottom: 45px;
  }

  .program__card {
    margin: 0 0 31px 0;
    padding: 75px 0 62px 52px;
  }

  .program__title {
    padding: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;

    &::after {
      left: 395px;
      top: 18px;
      width: 200px;
      height: 200px;
    }
  }

  .program__title--fit {
    &::before {
      width: 140px;
      height: 194px;
      background-image: url("../../img/icon-cat-slim.svg");
      left: 424px;
      top: 5px;
    }
  }

  .program__title--power {
    &::before {
      width: 268px;
      height: 112px;
      background-image: url("../../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      left: 358px;
      top: 60px;
      z-index: 10;
    }
  }

  .program__description {
    padding: 0 275px 0 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .program__description--power {
    padding-right: 312px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 10px;
      right: -48px;
    }
  }
}

@media (min-width: $width-desktop) {
  .program {
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
  }

  .program__card {
    padding: 75px 0 62px 10px;
    width: 570px;
  }

  .program__title {
    padding-left: 10px;
    text-align: center;
    margin-bottom: 75px;

    &::after {
      left: 41px;
      top: -29px;
      width: 100px;
      height: 100px;
    }
  }

  .program__title--fit {
    &::before {
      width: 70px;
      height: 97px;
      left: 54px;
      top: -34px;
    }
  }

  .program__title--power {
    padding-left: 51px;

    &::before {
      width: 134px;
      height: 56px;
      left: 23px;
      top: -8px;
      z-index: 10;
    }
  }

  .program__description {
    margin-bottom: 30px;
    padding-left: 41px;
    padding-right: 40px;
  }

  .program__link {
    padding-left: 41px;

    &::after {
      top: 10px;
      right: -47px;
    }
  }
}
