.site-promo {
  margin-top: 13px;
  padding-top: 17px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 168px, top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
    background-size: 280px auto, 320px auto;
  }
}

.site-promo__title {
  padding: 11px 15px 15px 15px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.site-promo__slogan {
  margin: 0;
  padding: 10px 35px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.site-promo__link {
  margin-top: 291px;
  padding: 11px 11px 10px;
}

@media (min-width: $width-tablet) {
  .site-promo {
    padding: 0 117px;
    color: $base-black;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 27px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 712px auto;
    }
  }

  .site-promo__title {
    padding: 0;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }

  .site-promo__slogan {
    padding: 0;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .site-promo__link {
    margin: 0 0 530px 2px;
    padding: 16px 26px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: $width-desktop) {
  .site-promo {
    margin-top: 0;
    padding: 0 120px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 488px 35px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px auto;
    }
  }

  .site-promo__title {
    padding-top: 116px;
    padding-right: 630px;
  }

  .site-promo__slogan {
    margin-bottom: 53px;
  }

  .site-promo__link {
    margin: 0;
    padding: 15px 29px 16px 23px;
    margin-bottom: 268px;
    font-size: 20px;
    line-height: 20px;
  }
}
