.site-list {
  @include list-reset;
  margin-top: 13px;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid #e6e6e6;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link {
  display: block;
  padding: 22px 12px 23px 12px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-black;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .site-list__item {
    margin-left: 35px;
    border-top: none;
  }

  .site-list__link {
    padding: 8px 0;
    font-family: $base-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: $base-black;
    border: none;
  }

  .site-list__link--active {
    box-shadow: 0 2px 0 0 $base-green;
  }

  .site-list__link--catalog--active {
    box-shadow: 0 2px 0 0 $base-green;
    color: $base-black;
  }
}

@media (min-width: $width-desktop) {
  .site-list__link {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
  }

  .site-list__link--catalog--active {
    box-shadow: 0 2px 0 0 $base-green;
    color: $base-black;
  }

  .site-list__link--active {
    box-shadow: 0 2px 0 0 #ffffff;
  }

  .site-list__link--catalog {
    color: #111111;
  }
}
