.site-header {
  padding-top: 10px;
  background-color: white;
}

.site-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  min-height: 41px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-header__menu-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 24px;
  height: 18px;
  margin-left: 61px;
}

.site-header__menu-toggle--closed {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 24px;
  height: 2px;
  background-color: #000000;

  &::after {
    position: absolute;
    top: -8px;
    left: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
  }
}

.site-header__menu-toggle--opened {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 24px;
  height: 2px;
  background-color: transparent;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

@media (max-width: 767px) {
  .site-header__nav--closed {
    display: none;
  }

  .site-header__nav--opened {
    display: block;
  }

  .site-header__nav--nojs {
    display: block;
  }
}

@media (min-width: $width-tablet) {
  .site-header {
    margin-bottom: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__logo,
  .site-header__img {
    width: 173px;
    height: 58px;
  }

  .site-header__menu-link {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .site-header {
    margin-bottom: -7px;
    padding-top: 54px;
    background-color: transparent;
  }

  .site-header__logo,
  .site-header__img {
    width: 202px;
    height: 59px;
  }
}
