.social-list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin: 0;
  padding: 0;
}

.social-list__link {
  width: 50px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__img--vk {
  width: 31px;
  margin-top: -1px;
}

.social-list__img--insta {
  width: 25px;
  margin-left: 5px;
  margin-top: -1px;
}

.social-list__img--fb {
  width: 15px;
  margin-left: -3px;
  margin-top: -3px;
}
