body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $base-black;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: $width-mobile;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.centerer-mobile {
  @media(max-width: $width-tablet) {
    width: $width-mobile;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.centerer-tablet {

  @media(min-width: $width-tablet) {
    width: $width-tablet;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media(min-width: $width-desktop) {
    width: $width-desktop;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.button--main {
  display: block;
  box-sizing: border-box;
  padding: 16px 27px 16px 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-green;
}

.button--desaturate {
  background-color: #f2f2f2;
  color: $base-black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $width-tablet) {
  .container {
    width: $width-tablet;
    padding: 0 30px;
  }
}

@media (min-width: $width-desktop) {
  .container {
    width: $width-desktop;
    padding: 0 40px;
  }
}
