$base-green: #68b738;
$base-black: #111111;
$base-grey: #444444;
$light-grey: #d3d3d3;
$base-font: "Oswald", "Arial", sans-serif;
$arial-font: "Arial", "Helvetica", sans-serif;
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
