$base-green: #68b738;
$base-black: #111111;
$base-grey: #444444;
$light-grey: #d3d3d3;
$tablet-width: 768px;
$desktop-width: 1280px;
$base-font: "Oswald", "Arial", sans-serif;
$arial-font: "Arial", "Helvetica", sans-serif;
